/* COLOR PALETTE
#45b3e0	(69,179,224) Blue
#87ceeb	(135,206,235) Light Blue
#c9e9f6	(201,233,246) Lightest Blue
#f3fafd	(243,250,253) Nearly White
#ffffff	(255,255,255) White */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
  overflow: auto;
}

/* Nav Bar */
.topnav {
  min-width: 600px;
  overflow: hidden;
  margin: 0;
  padding: 4px;
  position: relative;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.topnav p {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  display: inline;
  margin: 0;
  padding: 12px;
}

.left-nav {
  float: left;
}

.middle-nav {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.right-nav {
  float: right;
}

.topnav a, button {
  /* color: #f2f2f2; */
  color: black;
  padding: 5px 7px;
  margin: 9px 7px;
  text-decoration: none;
  font-size: 13px;
  display: inline;
  font-weight: bold;
}

.topnav button {
  background-color: transparent;
  text-align: center;
  border-style: none;
}

.topnav a:hover, .topnav a.active, .topnav button:hover {
  /* border: 1px solid rgb(46, 139, 200); */
  background-color: rgba(11, 47, 71, 0.323);
  border-radius: 3px;
}

/* .home-button:hover {
  cursor: pointer;
  background-color: rgba(219, 219, 227, 0.468);
  border-radius: 15px;
} */

.logo {
  height: 43px
}