/* login ******************************************/

.background {
  background-color: #A6BDD0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.overlay {
  background-color: white;
  border-radius: 15px;
  width: 76vw;
  height: 80vh;
  display: flex;
  border: #0f395cbb 4px solid;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}

.overlay-col {
  flex: 50%;
  height: fit-container;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.login-text {
  text-align: left;
  padding: 5vw;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.input-div {
  border: rgb(196, 196, 196) 2px solid;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

.input-div:hover, .input-div label:hover{
  cursor: text;
}

.input-div:has(input:focus), .input-div:hover {
  border: #0f395cbb 2px solid;
}

.remember-forgot {
  margin-bottom: 10px;
}

#span-forgot {
  float: right;
}

form button {
  text-decoration: none;
}

#password-rules {
  font-size: 14px;
}

#login-button {
  color: white;
  background-color: #0f395cbb;
}

#signup-button {
  background-color: transparent;
  float: right
}

#signup-button, #login-button {
  border: #0f395cbb 2px solid;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 20px
}

#signup-button:hover, #login-button:hover {
  box-shadow: rgba(196, 196, 196, 0.7) 0px 1px 2px 0px, rgba(196, 196, 196, 0.35) 0px 2px 6px 2px;
}

form div:has(button), .user-type {
  display: flex;
  gap: 15px;
}

form div button {
  flex: 1;
}

button:hover, label:has(input[type="checkbox"]), input[type="checkbox"] {
  cursor: pointer;
}

.user-type >a {
  flex: 1;
  text-align: center;
  color: black;
  border: #0f395cbb 2px solid;
  border-radius: 6px;
  margin-bottom: 15px;
  text-decoration: none;
  padding: 5px;
}

.user-type >.active {
  background-color: #a6bdd0e6;
  border-radius: 6px;
}

.user-type >.inactive {
  background-color: #a6bdd024;
  border: #A6BDD0 2px solid;
  border-radius: 6px;
}

#toggle-vis {
  margin-left: 4px;
  height: 15px;
}

#toggle-vis:hover {
  cursor: pointer;
}
