* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
/* User's Profile Picture */
.user-profile-pic {
    display: block;
    margin: 0 auto; /* Center the image */
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height to maintain aspect ratio */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
}

/* Spacing for Icons at left of User's information section (top, before divider) */
.icon-spacing {
    margin-right: 8px;
}

/* Divider-line between User's information and buttons */
.divider-line {
    border: 0;
    height: 1px;
    background: #E0E0E0; /* Line color */
    margin: 20px 0; /* vertical space around the line */
}

/* Buttons styling, below divider */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon-label-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon-container {
    font-size: 24px; /* ICON SIZE -adjust as needed */
    margin-bottom: 8px
}

.flexGrid {
    padding: 20px;
    background-color: #A6BDD0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    display: grid;
    gap: 20px; /* Space between grid items */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Creates as many columns as can fit, each at least 150px wide */
}

.gridItem {
    background-color: #fff; /* Background color for grid items */
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;; /* Shadow for depth */
}

  /* Media query for larger screens */
@media (min-width: 768px) {
    .flexGrid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusts the minimum column width for larger screens */
}
}